$color-background: #8f7856ef;
$color-border: #8b4513;
$color-text: #f8f4e3;
$color-link: #ddcdc1;
$color-link-hover: #cb8c51;
$color-nav-background: #e8decf;
$color-nav-text: #5d3b09;
$color-github-background: #8b4513;
$color-footer-background: rgb(44, 37, 37);