@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
section.container:has(h2) {
  background-image: url("images/scroll2.png");
  background-size: 90% 110%;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  list-style: none;
  margin: 40px 20%;
  overflow: hidden;
  transition: height 0.3s ease;
  height: 55px;
}

/* Ensure the h2 is always visible and triggers the dropdown */
section.container:has(h2):hover {
  height: 100%;
}

/* Specific rule for the h2 to keep it unaffected */
section.container h2 {
  background-image: url("images/scroll.png");
  background-size: 95% 110%;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 15px 0px 15px 10%;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: left;
  cursor: pointer;
}

/* Rule to hide all child elements except h2 initially */
/* Additional styling for links */
section.container a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.container:hover section.container a {
  opacity: 1;
}

section.container p {
  padding: 0px 20%;
}

ul {
  list-style: none;
}

article#about section.container:nth-of-type(1) h2 {
  position: relative; /* Make h2 the containing block */
}

article#about section.container:nth-of-type(1) h2::after {
  content: "[   ]"; /* The after pseudo element needs content to appear */
  text-shadow: none;
  color: rgba(0, 0, 0, 0); /* Hide the text, leaving only the background */
  background-image: url("images/water.svg");
  background-size: 80% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  right: 45%;
  top: 65%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

article#about section.container:nth-of-type(1):hover h2::after {
  background-size: 60% 60%;
  transition: background-size 0.3s ease;
}

section.container:nth-of-type(2) h2 {
  position: relative;
  font-size: 120%;
}

section.container:nth-of-type(2) h2::after {
  content: "[   ]";
  text-shadow: none;
  margin-left: 20%;
  color: rgba(0, 0, 0, 0);
  background-image: url("images/earth.svg");
  background-size: 80% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  right: 45%;
  top: 65%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

section.container:nth-of-type(2):hover h2::after {
  background-size: 60% 60%;
  transition: background-size 0.3s ease;
}

article#guidelines section.container:nth-of-type(1) h2 {
  position: relative; /* Make h2 the containing block */
}

article#guidelines section.container:nth-of-type(1) h2::after {
  content: "[   ]"; /* The after pseudo element needs content to appear */
  text-shadow: none;
  color: rgba(0, 0, 0, 0); /* Hide the text, leaving only the background */
  background-image: url("images/fire.svg");
  background-size: 80% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  right: 45%;
  top: 65%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

article#guidelines section.container:nth-of-type(1):hover h2::after {
  background-size: 60% 60%;
  transition: background-size 0.3s ease;
}

article#contribute section.container:nth-of-type(1) h2 {
  position: relative; /* Make h2 the containing block */
}

article#contribute section.container:nth-of-type(1) h2::after {
  content: "[   ]"; /* The after pseudo element needs content to appear */
  text-shadow: none;
  color: rgba(0, 0, 0, 0); /* Hide the text, leaving only the background */
  background-image: url("images/air.svg");
  background-size: 80% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  right: 45%;
  top: 65%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

article#contribute section.container:nth-of-type(1):hover h2::after {
  background-size: 60% 60%;
  transition: background-size 0.3s ease;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  color: #f8f4e3;
  position: relative;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.969);
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("images/atla1.jpeg"), url("images/atla2.jpg"), url("images/atla3.jpg"), url("images/atla4.jpeg");
  background-size: cover;
  background-position: center;
  animation: fireCarousel 20s infinite;
  filter: brightness(0.7);
}

@keyframes fireCarousel {
  0%, 20% {
    background-image: url("images/atla1.jpeg");
    filter: brightness(0.6) contrast(1.2) sepia(0.4);
  }
  25%, 45% {
    background-image: url("images/atla2.jpg");
    filter: brightness(0.7) contrast(1.1) sepia(0.3);
  }
  50%, 70% {
    background-image: url("images/atla3.jpg");
    filter: brightness(0.75) contrast(1.15) sepia(0.35);
  }
  75%, 95% {
    background-image: url("images/atla4.jpeg");
    filter: brightness(0.65) contrast(1.25) sepia(0.5);
  }
}
header .container {
  border-radius: 20px;
  max-width: 600px;
  padding-left: 4%;
  padding: 5% 2%;
  text-align: left;
  position: relative;
  z-index: 1;
  left: 4%;
  background-color: rgba(143, 120, 86, 0.937254902);
}

header h1 {
  font-size: 6rem;
  font-family: "Cormorant Garamond", serif;
}

header svg {
  width: 15px;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 2px;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 1rem;
}

.container a {
  color: #ddcdc1;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.container a:hover {
  color: #cb8c51;
  text-decoration: underline;
}

.skip-link {
  position: absolute;
  top: 4%;
  left: 4%;
  background-color: #5d3b09;
  color: #f8f4e3;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 12px;
}

.link-github {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #8b4513;
  color: #f8f4e3;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.link-github:hover {
  background-color: #5d3b09;
}

.link-github svg {
  fill: #f8f4e3;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2.5rem;
  }
  header .container {
    right: 5px;
  }
  .container h1 {
    font-size: 1.5rem;
  }
  .container h2 {
    font-size: 1rem;
  }
  .container p {
    font-size: 0.8rem;
  }
  .link-github {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .skip-link {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
nav {
  width: 100%;
  background-color: #e8decf;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: #5d3b09;
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #5d3b09;
  color: #f8f4e3;
}

/* Estilos responsive */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 0.5rem 0;
  }
  nav a {
    width: 100%;
    text-align: center;
  }
}
h1 {
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

article#contribute section.container:nth-of-type(2) {
  background-color: RGBA(143, 120, 86, 0.9);
  color: #f8f4e3;
  padding: 30px;
  margin: 5% 25%;
  border-radius: 25px;
}

article#contribute section.container:nth-of-type(2) h3 {
  margin-left: 23px;
}

#files {
  background-color: #e8decf;
  padding-bottom: 30px;
}
#files div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#files a {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  color: #f8f4e3;
  border: rgba(93, 59, 9, 0.368627451) solid 2px;
  background-color: rgba(93, 59, 9, 0.5882352941);
}
#files a:hover {
  text-decoration: none;
  background-color: transparent;
  border: rgba(93, 59, 9, 0.2980392157) solid 2px;
  color: #5d3b09;
}
#files h3 {
  position: relative;
  top: -20px;
  background-color: #5d3b09;
  width: 30%;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 3px;
  color: #f8f4e3;
  height: 0px;
}

#files a:nth-child(2) {
  position: relative;
  right: 45px;
  width: 40%;
}

#files a:nth-child(3) {
  position: relative;
  left: 50px;
  width: 44%;
}

#files a:nth-child(4) {
  position: relative;
  right: 55px;
  width: 48%;
}

@media screen and (max-width: 475px) {
  #files h3 {
    padding-top: 10px;
    padding-bottom: 50px;
    width: 40%;
  }
}
aside {
  background-color: rgb(44, 37, 37);
  margin: 0;
  text-align: center;
  padding: 20px 60px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0px;
  margin: 0px 0px;
}
.features li > span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.features li span:nth-child(2) {
  background-color: rgba(244, 237, 229, 0.445);
  padding: 5px;
  color: #412109;
  border-radius: 3px;
  margin-top: 10px;
}
.features li {
  border-radius: 3px;
  margin-left: 40px;
  margin-right: 40px;
}
.features li:nth-child(1) {
  background-image: url("images/elements_lava.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.features li:nth-child(2) {
  background-image: url("images/elements_metal.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.features li:nth-child(3) {
  background-image: url("images/elements_lightning.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.features li span a {
  background-color: rgba(244, 237, 229, 0.644);
  padding: 10px;
  color: #8b4513;
  border-radius: 3px;
}
.features li span a:hover {
  background-color: rgb(244, 237, 229);
  text-decoration: none;
  color: #8b4513;
}
.features li span a span {
  padding: 0px;
}

.link-allstyles {
  position: absolute;
  left: 45%;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  border: rgba(244, 237, 229, 0.644) solid 2px;
  border-radius: 3px;
}
.link-allstyles:hover {
  background-color: rgb(244, 237, 229);
}

#styles {
  padding-top: 60px;
}
#styles h2 {
  color: rgb(244, 237, 229);
  margin-left: 40px;
  margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
  .features {
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 600px;
  }
  .features li > span {
    width: 200px;
  }
  #styles h2 {
    margin: 0;
    margin-bottom: 20px;
  }
  .link-allstyles {
    left: 40%;
  }
}
.profile {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(143, 120, 86, 0.937254902);
  border: 2px solid #8b4513;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile .container {
  max-width: 300px;
  margin: 0 auto;
}
.profile h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #f8f4e3;
  font-family: "Cormorant Garamond", serif;
}
.profile ul {
  list-style: none;
  padding: 0;
}
.profile ul li {
  margin-bottom: 10px;
  color: #f8f4e3;
}
.profile ul li span {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}
.profile ul li a {
  color: #ddcdc1;
  text-decoration: none;
}
.profile ul li a:hover {
  text-decoration: underline;
  color: #cb8c51;
}
.profile a {
  display: inline-block;
  margin-top: 10px;
  color: #ddcdc1;
  text-decoration: none;
}
.profile a:hover {
  text-decoration: underline;
  color: #cb8c51;
}

.page-footer {
  background-color: rgb(44, 37, 37);
  padding: 60px;
  padding-top: 90px;
  color: #f8f4e3;
}

.page-footer::before {
  content: "";
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 20px 0px 50px 0px;
  position: relative;
  z-index: 1;
}

.page-footer::before {
  background-image: url("images/water_color.svg"), url("images/earth_color.svg"), url("images/air_color.svg"), url("images/fire_color.svg"), url("images/water_color.svg"), url("images/earth_color.svg"), url("images/air_color.svg"), url("images/fire_color.svg"), url("images/water_color.svg");
  background-repeat: no-repeat;
  background-size: 7% auto;
  background-position: 2% center, 13% center, 25% center, 37% center, 49% center, 61% center, 73% center, 85% center, 97% center;
}

footer ul {
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
  padding: 0 10%;
}

footer li a:link {
  display: flex;
  margin: auto;
  background-color: #8b4513;
  color: #f5f4f1;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  align-items: center;
  width: 100%;
  text-align: center;
}

a.link-github {
  margin: auto;
}

footer p a:link, footer p a:visited {
  color: #c5bb9c;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 980px) {
  footer ul {
    flex-direction: column;
  }
  .page-footer li {
    margin-top: 10px;
  }
  footer li a:link {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .page-footer::before {
    background-image: url("images/water_color.svg"), url("images/earth_color.svg"), url("images/air_color.svg"), url("images/fire_color.svg");
    background-repeat: no-repeat;
    background-size: 15% auto;
    background-position: 0% center, 35% center, 70% center, 100% center;
  }
}

/*# sourceMappingURL=style.css.map */
