@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  color: white;
  position: relative;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.969);
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/images/atla1.jpeg"), url("/images/atla2.jpg"), url("/images/atla3.jpg"), url("/images/atla4.jpeg");
  background-size: cover;
  background-position: center;
  animation: fireCarousel 20s infinite;
  filter: brightness(0.7);
}

@keyframes fireCarousel {
  0%, 20% {
    background-image: url("/images/atla1.jpeg");
    filter: brightness(0.6) contrast(1.2) sepia(0.4);
  }
  25%, 45% {
    background-image: url("/images/atla2.jpg");
    filter: brightness(0.7) contrast(1.1) sepia(0.3);
  }
  50%, 70% {
    background-image: url("/images/atla3.jpg");
    filter: brightness(0.75) contrast(1.15) sepia(0.35);
  }
  75%, 95% {
    background-image: url("/images/atla4.jpeg");
    filter: brightness(0.65) contrast(1.25) sepia(0.5);
  }
}
header .container {
  border-radius: 20px;
  max-width: 600px;
  padding-left: 4%;
  padding: 5% 2%;
  text-align: left;
  position: relative;
  z-index: 1;
  left: 4%;
  background-color: #8f7856c3;
}

header h1 {
  font-size: 6rem;
  font-family: "Cormorant Garamond", serif;
}

header svg {
  width: 15px;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 2px;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 1rem;
}

.container a {
  color: #ddcdc1;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.container a:hover {
  color: #cb8c51;
  text-decoration: underline;
}

.skip-link {
  position: absolute;
  top: 4%;
  left: 4%;
  background-color: #5d3b09;
  color: #f8f4e3;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 12px;
}

.link-github {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #8b4513;
  color: #f5f4f1;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.link-github:hover {
  background-color: #5d3b09;
}

.link-github svg {
  fill: #f8f4e3;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2.5rem;
  }

  header .container {
    right: 5px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .container h2 {
    font-size: 1rem;
  }

  .container p {
    font-size: 0.8rem;
  }

  .link-github {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .skip-link {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
nav {
  width: 100%;
  background-color: #e8decf;
  /* Color de fondo que combina con el tema */
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: #5d3b09;
  /* Color de texto */
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #5d3b09;
  color: #f8f4e3;
}

/* Estilos responsive */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5rem 0;
  }

  nav a {
    width: 100%;
    text-align: center;
  }
}
#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-light);
}
#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform: translate(-50%, -50%);
  transition: 300ms transform ease-in;
  background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
  opacity: 0.8;
  content: "";
  z-index: -1;
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
  #guidelines p:nth-of-type(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg) translate(4.75rem, -3.5rem);
    transform-origin: left center;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary-alt);
    font-size: 0.9em;
    font-weight: normal;
    content: "â† Whoa, text gradients!";
  }
}
#guidelines .container > a {
  align-self: center;
}

#about section:nth-child(2) {
  position: relative;
}

#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}

#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-light);
}

#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform: translate(-50%, -50%);
  transition: 300ms transform ease-in;
  background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
  opacity: 0.8;
  content: "";
  z-index: -1;
}

@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}
#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
#files h3 {
  height: 0;
  opacity: 0;
}
#files .container {
  display: inline-block;
  padding: 5vmin;
  outline: 4px dashed var(--color-secondary);
  background-color: var(--color-background);
  text-align: center;
}
#files .container a:not(:last-child) {
  margin: 0.5rem;
}
#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer::before {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
  position: absolute;
  left: 50%;
  width: 2em;
  transform: translate(-50%, -100%);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}
